
body{background-image: url(../../images/fondo2.jpg);
    margin: 0;
    padding: 0;}

    .topnav {width: 100%;
        overflow: hidden;
        background-color:gray;
        font-family: Dongle;
        position: sticky;
        top:0;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2em;
    }
      
    .topnav a:hover {
        background-color: rgb(0, 0, 0);
        color:#870f8b;
    }
      
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }
      
    .topnav .icon {
        display: none;
    }
      
    @media screen and (max-width: 700px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
        }
    }
      
    @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
    }
    
        
    .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
    }
    
    nav {position: sticky;
         top: 0;
         z-index: 99;
         opacity: 1;}
    
    .fin-float {clear:both}

    #NT{background-color: gray;
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 5%;
        padding-bottom: 5%;
        padding-right: 5%;
        padding-top: 2%;
        color: white;
        border-radius: 5px;}
        
        form{font-size: 20px;}
        
        h1 {padding-bottom: 20px;
        text-align: center;}

        @media only screen and (max-width:1000px){
            #NT {width: 60%;
                 margin: auto;
                 margin-top: 10px;}
        
        }
        
        @media only screen and (max-width:500px){
            #NT {width: 60%;
                margin: auto;
                margin-top: 10px;}
        }